<%- include('./layouts/header.ejs') %>

<body>
<div id="chat-container">
  <div id="search-container">
    <input type="text" placeholder="Search"/>
  </div>
  <div id="conversation-list">

    <% conversations.forEach( function (conversation) { %>
      <% if( conversation.creator.id === loggedInUser.id ) { %>
        <div class="conversation">
          <% if( conversation.participant.avatar ) { %>
            <img src="./uploads/avatars/<%= conversation.participant.avatar %>"
                 alt="<%= conversation.participant.name %>"/>
          <% } else { %>
            <img src="./images/user2.png" alt="<%= conversation.participant.name %>"/>
          <% } %>
          <div class="title-text"><%= conversation.participant.name %></div>

          <div class="conversation-message">This is a message</div>
        </div>
        <div class="created-date"> <%= conversation.last_update %> </div>
      <% } else { %>
        <div class="conversation">
          <img src="./images/user1.png" alt="Sumit"/>
          <div class="title-text"><%= conversation.creator.name %></div>

          <div class="conversation-message">This is a message</div>
        </div>

        <div class="created-date"> <%= conversation.last_update %> </div>

      <% } %>
    <% } ) %>
  </div>
  <div id="new-message-container">
    <div id="addUserButtonMainDIv">
      <a href="#">
        <img src="./images/plus.png">
      </a>
    </div>
  </div>
  <div id="chat-title">
    <span>Sumit</span>
        <img src="./images/trash.png" alt="Delete Conversation" />
      </div>
      <div id="chat-message-list">
        <div class="message-row other-message">
          <div class="message-content">
            <img src="./images/user1.png" alt="Sumit" />
            <div class="message-text">Ok then</div>
            <div class="message-time">Apr 16</div>
          </div>
        </div>
        <div class="message-row you-message">
          <div class="message-content">
            <div class="message-text">Lorem ipsum dolor sit amet</div>
            <div class="message-time">Apr 16</div>
          </div>
        </div>
      </div>
      <div id="chat-form">
        <img src="./images/attachment.png" alt=Add Attachment=""/>
        <input type="text" placeholder="Type a message"/>
      </div>
    </div>

    <div class="modal-wrapper">
      <div class="modal">
        <a href="#" class="modal-close">+</a>
        <div class="modal-title">
          <h2>Create New Conversation</h2>
        </div>
        <div class="modal-body">
          <form id="selectUserForm">
            <select class="form-control" id="selectUserOption" name="user_id">
              <option value="">Select User</option>
              <% users.forEach( function (user) { %>
                <option value="<%= user._id %>"><%= user.name %></option>
              <% }); %>
            </select>
            <input type="hidden" name="creator" value='<%- loggedInUsers._id %>'>

          </form>
        </div>
      </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="./js/progress.js" type="text/javascript"></script>

<script>
  var addUserButtonMainDIv = document.getElementById('addUserButtonMainDIv');
  var addUserButtonMainDIvImage = document.querySelector('#addUserButtonMainDIv > a > img');
  var modalWrapper = document.querySelector('.modal-wrapper');
  var closeModal = document.querySelector('.modal-close');

  closeModal.addEventListener('click', function (e) {
    modalWrapper.classList.remove('show-modal');
  });

        addUserButtonMainDIv.addEventListener('click', function(e) {

          addUserButtonMainDIvImage.classList.add('zoom-in-zoom-out');

          setTimeout(function () {
            addUserButtonMainDIvImage.classList.remove('zoom-in-zoom-out');
          }, 1000);

          modalWrapper.classList.add('show-modal');
        });

</script>

<script>

  convertDate();

  var selectUserOption = document.getElementById('selectUserOption');

  selectUserOption.addEventListener('change', function (e) {
    var selectedUserId = e.target.value;
    let url = '/inbox/create/conversation';
    let loggedInUserID = '<%= loggedInUser.id %>';

        let postData = {
          creator: loggedInUserID,
          participant: selectedUserId
        };

    fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      }
      , body: JSON.stringify(postData)
    }).then(response => response.json())
            .then(data => console.log(data, loggedInUserID, loggedInUserName))
            .catch((error) => console.error('Error:', error));
  });

  function convertDate() {
    let created_date = document.querySelector('.created-date');
    let date = new Date(created_date.innerHTML);
    let options = {
      weekday: "long", year: "numeric", month: "short",
      day: "numeric", hour: "2-digit", minute: "2-digit"
    };
    created_date.innerHTML = date.toLocaleDateString("en-US", options);
  }

</script>

</body>
</html>
