<%- include('./layouts/header.ejs') %>

<body>
<div id="chat-container">
  <div id="search-container">
    <input type="text" placeholder="Search"/>
  </div>
  <div id="conversation-list">

    <% conversations.forEach( function (conversation) { %>
      <% if( conversation.creator.id === loggedInUser.id ) { %>
        <div class="conversation"
             onclick="getConversationList(this, '<%= conversation._id %>', '<%= conversation.creator.id %>')">
          <% if( conversation.participant.avatar ) { %>
            <img src="./uploads/avatars/<%= conversation.participant.avatar %>"
                 alt="<%= conversation.participant.name %>"/>
          <% } else { %>
            <img src="./images/user2.png" alt="<%= conversation.participant.name %>"/>
          <% } %>
          <div class="title-text"><%= conversation.participant.name %></div>

          <div class="conversation-message created-date"><%= conversation.last_update %></div>
        </div>
      <% } else { %>
        <div class="conversation"
             onclick="getConversationList(this, '<%= conversation._id %>', '<%= conversation.participant.id %>')">
          <img src="./images/user1.png" alt="Sumit"/>
          <div class="title-text"><%= conversation.creator.name %></div>

          <div class="conversation-message created-date"><%= conversation.last_update %></div>
        </div>

      <% } %>
    <% } ) %>
  </div>
  <div id="new-message-container">
    <div id="addUserButtonMainDIv">
      <a href="#">
        <img src="./images/plus.png">
      </a>
    </div>
  </div>
  <div id="chat-title">
    <span>Sumit</span>
    <img src="./images/trash.png" alt="Delete Conversation"/>
  </div>
  <div id="chat-message-list">

    <div class="message-row other-message">
      <div class="message-content">
        <img src="./images/user1.png" alt="Sumit"/>
        <div class="message-text">Ok then</div>
        <div class="message-time">Apr 16</div>
      </div>
    </div>
    <div class="message-row you-message">
      <div class="message-content">
        <div class="message-text">Lorem ipsum dolor sit amet</div>
        <div class="message-time">Apr 16</div>
      </div>
    </div>

  </div>
  <div id="chat-form">
    <img src="./images/attachment.png" alt=Add Attachment=""/>
    <input type="text" placeholder="Type a message" id="textInputField"/>
    <input type="hidden" value="<%= loggedInUser.id %>" id="loggedInUserId">
    <input type="hidden" value="" id="participantUserId">
    <input type="hidden" value="" id="conversationId">
  </div>
</div>

<div class="modal-wrapper">
  <div class="modal">
    <a href="#" class="modal-close">+</a>
    <div class="modal-title">
      <h2>Create New Conversation</h2>
    </div>
    <div class="modal-body">
          <form id="selectUserForm">
            <select class="form-control" id="selectUserOption" name="user_id">
              <option value="">Select User</option>
              <% users.forEach( function (user) { %>
                <option value="<%= user._id %>"><%= user.name %></option>
              <% }); %>
            </select>
            <input type="hidden" name="creator" value='<%- loggedInUsers._id %>'>

          </form>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="./js/progress.js" type="text/javascript"></script>
<script src="./js/inboxPage.js"></script>

</body>
</html>
