<%- include('./layouts/header.ejs') %>

    <div class="manageUser-container">
      <div id="title">
        <h2>Manage Users</h2>
      </div>

      <div class="new-message-container new-user">
        <a href="#" onclick="openModal()">+</a>
      </div>

      <div id="users-table">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Manage</th>
            </tr>
          </thead>
          <tbody id="users-table">
            <% users.forEach( function (user) { %>
              <tr id="<%- user._id %>">
                <td class="name">
                  <% if( user.avatar ) { %>
                  <img src="./uploads/avatars/<%-user.avatar%>" />
                  <% } else { %>
                  <img src="./images/nophoto.png" />
                  <% } %>
                  <span><%-user.name%></span>
                </td>
                <td><%-user.email%></td>
                <td class="manage">
                  <img src="./images/trash.png" onclick="removeUser('<%= user._id %>')" alt="Delete" />
                </td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>

  <%- include('layouts/user_create_modal.ejs') %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="./js/progress.js" type="text/javascript"></script>
<script>

    var errorTost = Toastify({
        text: "Internal server error",
        duration: 2000
    });

    var successTost = Toastify({
        text: 'User deleted successfully',
        duration: 6000
      });

      async function removeUser(user_id){
        let response = await fetch(`/users/${user_id}`, {
          method:'DELETE'
        });

        let responseJson = await response.json();

        if( responseJson.errors ) errorTost.showToast();
        else {
          let tr = document.getElementById(user_id);
          tr.style.display = 'none'
          successTost.showToast();
        }

      }
    </script>


  </body>
</html>
